@use '../../tokens/typography' as *;
@use 'mixin' as *;

// The font utility class generator.
// Makes a .l-type:swatch:shade available for each color token.

.l- {
	@each $variant, $sizes in $typography {
		&#{$variant} {
			@each $size, $content in $sizes {
				&\:#{$size} {
					@include typography($variant, $size)
				}
			}
		}
	}
}

.l-headline\:400 {
	font-family: robot-sans;

	font-size: 2rem;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.1;
}

.l-body\:400 {
	font-family: robot-sans;

	font-size: 2rem;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.1;
}
